baseURL = "https://serrini.github.io/"
languageCode = "zh-cn"
title = "Serrini's Blog"
theme = "PaperMod"
paginate = 10

enableRobotsTXT = true
buildDrafts = false
buildFuture = false
buildExpired = false
enableEmoji = true

[minify]
  disableXML = true
  minifyOutput = true

[params]
  env = "production"
  title = "Serrini's Blog"
  description = "Every failure is leading towards success."
  keywords = ["Blog", "Tech", "Golang", "LeetCode"]
  author = "Serrini"
  DateFormat = "2006-01-02"
  defaultTheme = "auto"
  disableThemeToggle = false
  ShowReadingTime = true
  ShowShareButtons = false
  ShowPostNavLinks = true
  ShowBreadCrumbs = true
  ShowCodeCopyButtons = true
  ShowWordCount = true
  ShowRssButtonInSectionTermList = true
  UseHugoToc = true
  disableSpecial1stPost = false
  disableScrollToTop = false
  hidemeta = false
  hideSummary = false
  showtoc = true
  tocopen = false

  [params.assets]
    disableHLJS = true

  [params.label]
    text = "Serrini's Blog"
    icon = "/apple-touch-icon.png"
    iconHeight = 35

  [params.profileMode]
    enabled = true
    title = "Serrini"
    subtitle = "Goals determine what you going to be!"
    imageUrl = "/images/avatar.jpg"
    imageWidth = 120
    imageHeight = 120
    imageTitle = "avatar"
    [[params.profileMode.buttons]]
      name = "Archives"
      url = "archives"
    [[params.profileMode.buttons]]
      name = "Tags"
      url = "tags"

  [params.homeInfoParams]
    Title = "Welcome"
    Content = "Every failure is leading towards success."

  [[params.socialIcons]]
    name = "github"
    url = "https://github.com/serrini"

  [[params.socialIcons]]
    name = "twitter"
    url = "https://twitter.com/sunlan"

[params.cover]
  hidden = true
  hiddenInList = true
  hiddenInSingle = true

[params.fuseOpts]
  isCaseSensitive = false
  shouldSort = true
  location = 0
  distance = 1000
  threshold = 0.4
  minMatchCharLength = 0
  keys = ["title", "permalink", "summary", "content"]

[menu]
  [[menu.main]]
    identifier = "home"
    name = "Home"
    url = "/"
    weight = 1
  [[menu.main]]
    identifier = "archives"
    name = "Archives"
    url = "/archives/"
    weight = 5
  [[menu.main]]
    identifier = "tags"
    name = "Tags"
    url = "/tags/"
    weight = 10
  [[menu.main]]
    identifier = "categories"
    name = "Categories"
    url = "/categories/"
    weight = 15
  [[menu.main]]
    identifier = "search"
    name = "Search"
    url = "/search/"
    weight = 20

[outputs]
  home = ["HTML", "RSS", "JSON"]

[markup]
  [markup.highlight]
    anchorLineNos = false
    codeFences = true
    guessSyntax = true
    lineNos = true
    noClasses = false
    style = "dracula"
  [markup.goldmark]
    [markup.goldmark.renderer]
      unsafe = true
